<%=stylesheet_link_tag 'showpage'%>

<%= error_messages_for 'college' %>

<h2>College</h2>

<%if flash[:notice]%>
<%=flash[:notice]%>
<%end%>



<%=form_tag :action=>'savecollege'%>
<table class="submitforms">
<tr>
<td>College Name<font color="red">*</font></td>
<td> <%=text_field 'college','college_name', :class=>'ltext'%> </td>
</tr>

<tr>
<td>College Short Name<font color="red">*</font></td>
<td><%=text_field 'college','college_short_name', :class=>'ltext'%></td>
</tr>
<tr>
<td>College Establish Date<font color="red">*</font></td>
<td> <%=text_field 'college','establish_date',:class=>'ltext',:readonly => true, :value=>@fromdate%> <td><input type="reset" value=" ... " onclick="return showCalendar('college_establish_date', '%d-%m-%Y', true);" style="width:12px;"/></td>
</tr>

<tr>
<td>College Address<font color="red">*</font></td>
<td> <%=text_area 'college','address',{:rows=>2,:cols=>17}%> </td>
</tr>
 <tr>
      <td>Status<font color="red">*</font></td>
      <td class="stext"><%=select 'college','status',  ["Active", "In-Active"],:class=>'ltext'%></td>
  </tr>

</table>

<p style="padding-left:120px;"><%=submit_tag 'Submit'%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to 'Back',:action=>'showcollege'%> </p>



</form>


