<%=stylesheet_link_tag 'showpage'%>
<h2>Listing States</h2>
<table class="total">

<tr>
<td><%= link_to 'Create New',:action=>'indexstate'%></td>
</tr>
<%count = 0%>
<tr class="letters">
<td>State Name</td>
<td>Country Name</td>
<td>State Short Name </td>
<td>Show</td>
<td>Edit</td>
<!--<td>Delete</td>-->
</tr>

<%for states in @state%>
   <%count=count+1%>
<%if count%2 == 0%>
<%row_css ='even'%>
<%else%>
<%row_css ='odd'%>
<%end%>
<tr class=<%=row_css%>>
    <td><%=states.state_name %></td>
    <td><%=states.country.country_name %></td>
    <td><%=states.state_short_form %></td>
    
    <td><%= link_to 'Show',:action=>'detailsstate',:id=>states.id%> </td>
    <td><%= link_to 'Edit',:action=>'editstate' , :id=>states.id %></td>
   <!-- <td><%#= link_to 'Delete',{:action=>'destroystate' , :id=>states.id},:confirm => 'Are you sure?'%></td>-->
    </tr>
<%end%>

<tr>
</tr>
</table>
